.js-fade-out-all {
    opacity: 0.4;
}

.js-stop-timer-btn {
    background: #F34141;
}

.js-stop-timer-btn:hover {
    background: #d83939;
}

.js-opaque-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.js-popup-form {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 315px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 0px;
    background: #181818;
    font-family: 'Raleway';
    color: #000000;
    border-radius: 3px;
}

/*Styles for popup elements*/
.popup-title {
    color: #279292; 
    text-decoration: underline #D46A6A;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #D46A6A;
}

.new-task-date, .new-task-time {
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
}

#task-notes {
    resize: none;
    width: 90%;
    margin: auto;
    padding: 5px;
    background: #242424; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

#task-notes::placeholder {
    color: #ffffff;
}

.submit-task {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    background: #93D60C;
}

.drop-task {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    background: #F34141;
}