* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    /*background: url(https://background-tiles.com/overview/blue/patterns/large/1017.png);*/
    background: #000000;
}

.main-wrap {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
}

.logo {
    text-align: center;
    font-size: 108px;
    font-family: "Staatliches";
}

#hyphen {
    text-decoration: none;
}

.forms-wrap {
    font-family: "Raleway";
}

form {
    margin: auto;
    padding-top: 45px;
    width: 280px;
    height: 300px;
    text-align: center;
    /*border: 6px dashed #B90000;*/
    /*background-color: #ffe252;*/
}

input, label {
    display: block;
    margin: auto;
}
label {
    padding-top: 15px;
    padding-left: 25px;
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}

input {
    margin-top: 35px;
    margin: auto;
    height: 40px;
    width: 175px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 2px solid #F34141;
    border-right: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 16px;
    color: #ffffff;
    background: #000000;
}

input:focus {
    outline: 0;
    border-bottom: 3px solid #ACE33D;
}

.input-filled {
    outline: 0;
    border-bottom: 3px solid #ACE33D;
}

input::placeholder {
    color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: white !important;
}

.demo-info {
    width: 275px;
    margin: auto;
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
}

.login-error {
    color: #B90000;
}

.password-requirements {
    bottom: 233px;
}

.underline {
    text-decoration: underline #ffffff
}

.login-signup-links {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.login-link, .signup-link {
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}

.login-link:hover, .signup-link:hover {
    font-size: 20px;  
    text-decoration: underline #F34141;  
}

.links-divider {
    color: #ffffff;
}

.signup-form {
    padding-top: 0px;
    height: 250px;
}

.button-div {
    text-align: center;
}

.submit-login, .submit-signup {
    width: 105px;
    height: 50px;
    margin: auto;
    margin-top: 45px;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
    background: #93D60C;
    box-shadow: 2px 2px 0px #ffffff;
}

.submit-login:hover, .submit-signup:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0px #d0d0d0;
}

.selected-form {
    color: #ffffff;
    font-size: 20px;
    text-decoration: underline #93D60C;
}