.logo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 62px;
    font-family: "Staatliches";
}

.corner-logo {
    position: absolute;
    top: 1px;
    left: 10px;
    margin-top: 5px;
    font-family: "Staatliches";
}

.red {
    color: #B90000;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

.white {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

.orange {
    color: #FF5900;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

.green {
    color: #009B48;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

.yellow {
    color: #FFD500;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

.blue {
    color: #0045AD;
    text-decoration: underline;
    text-decoration-color: #ffffff; 
}

#hyphen {
    text-decoration: none;
}

