@media only screen and (min-width: 600px) {
    .header {
        overflow: auto;
        width: 100%;
        z-index: 20;
    }
    .logo {
        font-size: 108px;
        margin: auto;
    }
    .logout-btn {
        height: 35px;
    }
    input {
        width: 325px;
        margin-left: auto;
    }
    .login-form, .signup-form {
        height: 300px;
    }
    .minutes, .seconds {
        font-size: 64px;
    }
    
    .colon, .decimal-point, .milliseconds {
        font-size: 48px;
    }

    .timer-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .scramble-div {
        width: 450px;
    }

    .stats-notes-section {
        width: 640px;
        margin: auto; 
        position: relative;
        top: 450px;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
    }

    .main-grid {
        margin-top: 25px;
        overflow: auto;
        display: grid;
        grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
        grid-template-areas: 
            ". . timer timer . ."
            ". select-task select-task select-task select-task ."
            ". . subheader subheader . ."
            "priorTask1 priorTask1 priorTask2 priorTask2 priorTask3 priorTask3"
    }
    
    .prior-task {
        justify-self: center;
        width: 90%;
        margin-bottom: 10px;
        border-radius: 5px;
        background: #242424;
        font-family: "Raleway";
    }

    .start-timer-btn {
        display: inline-block;
    }

    footer {
        color: #ffffff;
        display: block;
        width: 100%;
        margin: auto;
        position: fixed;
        bottom: 1px;
        left: 0px;
        text-align: center;
        font-family: 'Raleway';
    }

    .source {
        color: #bcf94d;
    }
}

@media only screen and (min-width: 870px) {
    .minutes, .seconds {
        font-size: 96px;
    }
    
    .colon, .decimal-point, .milliseconds {
        font-size: 64px;
    }
}