* {
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #ffffff;
}

.logo-wrap {
    overflow: auto;
    overflow: initial;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    background: #000000;
}

.dimension-label, .instructions-div, .scramble-div, .stats-notes-section {
    font-family: "Raleway";
}

.dimension-label {
    position: absolute;
    top: 1px;
    right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    border-left: 2px solid #0045AD;
    border-bottom: 2px solid #FFD500
}

.timer-scramble-section {
    max-width: 1000px;
    text-align: center;
    position: absolute;
    margin-bottom: 50px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer-div {
    font-family: 'Roboto Mono', monospace;
}

.minutes, .seconds {
    font-size: 64px;
}

.colon, .decimal-point, .milliseconds {
    font-size: 32px;
}

.desktop-instructions {
    font-size: 12px;
    display: none;
}

.scramble-div {
    width: 320px;
    font-size: 18px;
}

.stats-notes-section {
    width: 320px;
    margin: auto; 
    position: relative;
    top: 275px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
}


.column-title {
    padding-bottom: 3px;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid;
}

.column1-title {
    border-bottom-color:#FF5900;
} 

.column2-title { 
    border-bottom-color:#B90000;
}

.column3-title {
    border-bottom-color:#009B48;
}

.solve-list {
    list-style-type: none;
    padding: 0px;
}

.solve-list-item {
    padding: 10px 15px 10px 15px;
}

.time {
    color: #009B48;
    padding-top: 0px;
}

#solve-notes {
    resize: none;
    display: block;
    margin: auto;
    padding: 5px;
    font-size: 14px;
    border-radius: 1px;
    border: none;
    background: #003f9d;
    color: #ffffff;
    transition: background-color 0.4s ease 0s;
}

#solve-notes:focus {
    background: #004cbd;
    outline: none;
}

#solve-notes::placeholder {
    color: #ffffff;
}

.js-timer-ready-color {
    background: #B90000;
}

.js-timer-running-color {
    background: #009B48;
}

.center-timer {
    margin-top: 80%;
}